<!DOCTYPE html>
<html lang="en">
<head>
    
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="UTF-8">
  <title>Stacey.ai | Your Personal Medical Assistant</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <section class="section hero" id="home">
    <div class="container">
      <div class="row">
        <div class="one-half column">
        <h1 class="hero-heading"><b style="color:#33C3F0">Stacey.ai</b><h1>
          <h4 class="hero-heading">Your personal assistant for your day to day medical needs.</h4>
          <a class="button button-primary" href="#scope">Read More.</a>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="/images/iphone2.png" >
          <img class="phone" src="/images/iphone2.png" >
        </div>
      </div>
    </div>
  </section>

  <section class="section values" id="scope">
    <div class="container">
      <div class="row">
        <div class="one-third column value">
          <h2 class="value-multiplier">User Friendly</h2>
          <h5 class="value-heading"></h5>
          <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">High Growth Potential</h2>
          <h5 class="value-heading"></h5>
          <p class="value-description">Most of the world accesses the internet on multiple devices.</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">Cross Platform Compabilty<sup>*</sup></h2>
          <h5 class="value-heading"></h5>
          <p class="value-description">Percentage of users that are frustrated with page load times.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section get-help" id="">
    <div class="container">
      <h3 class="section-heading">Need help in getting started?</h3>
      <p class="section-description">Stacey.ai is very easy to use , you just have to sign up add your add your full name and you are done, See it's that simple!</p>
      </center><a class="button button-primary" href="">How it works?</a></center>
    </div>
  </section>

  <section class="section categories" id="how_it_works">
    <div class="container">
      <h3 class="section-heading" style="color:#fff;">What our Beta user's say!</h3>
      <br>
      <br>
    <center>
    <img class="" src="/images/bg.png" class="" width="525px" height="400px"></center>
      </div>
    </div>
  </section>

  <section class="section get-help" id="">
    <div class="container">
     <h3 class="section-heading">Find it Awesome?</h3>
      <!--<p class="section-description"></p>
      
      <div class="row">
        <div class="one-half column category">
          <img class="u-max-full-width" src="/images/placeholder.png">
        </div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="/images/placeholder.png">
        </div>
      </div> -->
      <br>
      <a class="button button-primary" href="/app">Try it Now!</a>
    </div>
      </section>

  <section class="section categories" id="footer">
    <div class="container">
      <h3 class="section-heading">Contact Us</h3>
      <br>
      <h6 class="value-heading"><a style="color:#fff;" href="mailto:svsanketverma5@gmail.com">svsanketverma5@gmail.com</a></h6>
      <br>
      <br>
          <p class="value-description">&copy; Team A.I. Pirates</p>
    </div>
  </section>




<!-- End Document
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
</body>
</html>